{% extends "tasteofhome/base.html" %}
        {% block javascript %}

        {% endblock %}
                     {% block body_class %} Vanilla Post discussion {% endblock %}

                     {% block content %}
                        <div id="DiscussionForm">
                           <h2>开始新讨论</h2>
                           {% call form() %}
                        <div>
                            <div>
                               {{ form['owner'].label()|safe }}
                               {{ form['owner']()|safe }}
                            </div>
                            {{ form['title'].label()|safe }}
                            {{ form['title']()|safe }}
                            <div class="Category">
                                {{ form['tag'].label()|safe }}
                                {{ form['tag']()|safe }}
                            </div>
                            {{ form['content']()|safe }}
                        {{ form.default_actions()|safe }}
                        </div>
                        {% endcall %}
                        </div>
                     {% endblock %}

                     {% block panel %}

                     {% endblock %}

              {% block foot %}

              {% endblock %}
