{% extends "tasteofhome/base.html" %}
{% from 'tasteofhome/macros.html' import render_discussion_list_item with context %}
{% from 'tasteofhome/macros.html' import render_forum_panel with context %}
        {% block javascript %}
        <script type="text/javascript" src="/media/js/forum.js?v=2.0.17.10"></script>
        {% endblock %}

                     {% block content %}
                         <div class="Tabs DiscussionsTabs">
                           <ul>
                              <li class="Active"><a href="#/discussions">所有讨论</a></li>
                              <li><a href="#/discussions/popular" class="PopularDiscussions">最热</a></li>
                              <li><a href="#/discussions/mine" class="MyDiscussions">我的讨论<span>1</span></a></li>
                           </ul>
                         </div>
                         <ul class="DataList Discussions">
                            {% for discussion in discussions %}
                                {{ render_discussion_list_item(discussion) }}
                            {% endfor %}
                         </ul>
                         <div class="P">
                             <div id="PagerBefore" class="Pager NumberedPager">
                                 <span class="Previous">‹</span>
                                 <a href="/discussions/p1" class="Highlight">1</a>
                                 <a href="/discussions/p2">2</a><a href="/discussions/p3">3</a>
                                 <a href="/discussions/p4">4</a><a href="/discussions/p5">5</a>
                                 <a href="/discussions/p6">6</a><a href="/discussions/p7">7</a>
                                 <span class="Ellipsis">…</span>
                                 <a href="/discussions/p260">260</a>
                                 <a href="/discussions/p2" class="Next">›</a>
                             </div>
                         </div>
                     {% endblock %}

                     {% block panel %}
                         {{ render_forum_panel() }}
                     {% endblock %}

              {% block foot %}
                    <div id="Definitions" style="display: none;">
                        <input type="hidden" id="SetClientHour" value="22" />
                        <input type="hidden" id="AnalyticsTask" value="none" />
                        <input type="hidden" id="RemoteUrl" value="http://mint.samdeha.com/mint?language=zh&amp;version=1" />
                        <input type="hidden" id="WhosOnlineFrequency" value="4" />
                        <input type="hidden" id="TransportError" value="A fatal error occurred while processing the request.&lt;br /&gt;The server returned the following response: %s" />
                        <input type="hidden" id="TransientKey" value="Z4J2GFMVJ0YL" />
                        <input type="hidden" id="WebRoot" value="http://vanilla.samdeha.com/" />
                        <input type="hidden" id="UrlFormat" value="/index.php?p=/{Path}" />
                        <input type="hidden" id="ConfirmHeading" value="Confirm" />
                        <input type="hidden" id="ConfirmText" value="Are you sure you want to do that?" />
                        <input type="hidden" id="Okay" value="Okay" />
                        <input type="hidden" id="Cancel" value="Cancel" />
                        <input type="hidden" id="Search" value="Search" />
                    </div>
              {% endblock %}
