{% extends "tasteofhome/base.html" %}
        {% block javascript %}

        {% endblock %}
                     {% block body_class %} Vanilla Post discussion {% endblock %}

                     {% block content %}
                        <div id="DiscussionForm">
                           <h2>编辑本地菜</h2>
                           {% call form() %}
                        <div>
                            <div>
                                {{ form['tag'].label()|safe }}
                                {{ form['tag']()|safe }}
                            </div>
                            <div>
                               {{ form['owner'].label()|safe }}
                               {{ form['owner']()|safe }}
                            </div>
                            {{ form['title'].label()|safe }}
                            {{ form['title']()|safe }}
                            {{ form['content']()|safe }}
                            <div class="PostFormControlPanel">
                                <ul class="CourseOptions">
                                    <li class="mouth">
                                        {{ form['mouth'].label()|safe }}
                                        {{ form['mouth']()|safe }}
                                    </li>
                                    <li class="hand">
                                        {{ form['hand'].label()|safe }}
                                        {{ form['hand']()|safe }}
                                    </li>
                                </ul>
                           <div class="AttachFileLink">
                               {{ form['avatar'].label()|safe }}
                               {{ form['avatar']()|safe }}
                           </div>
                        {{ form.default_actions()|safe }}
                        </div>
                        {% endcall %}
                        </div>
                     {% endblock %}

                     {% block panel %}

                     {% endblock %}

              {% block foot %}

              {% endblock %}
