{% extends "tasteofhome/base.html" %}
                     {% block content %}
                        <div id="tags" class="Headings">
                            {% for tag in tags %}
                                <a href="/tag/{{ tag.key() }}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                     {% endblock %}
                     {% block panel %}

                     {% endblock %}
              {% block foot %}

              {% endblock %}
