{% extends "tasteofhome/base.html" %}
{% from 'tasteofhome/macros.html' import render_course_list_item with context %}
        {% block javascript %}
        <script type="text/javascript" src="/media/js/tag.js?v=2.0.17.10"></script>
        {% endblock %}

                     {% block content %}
                         <div id="tag" class="Headings">
                             <h3 class="parent"><a href="/tag/{{ tag.parent_key() }}">{{ tag.parent().name }}</a></h3>
                             <h1 class="me"><a href="/tag/{{ tag.key() }}">{{ tag.name }}</a></h1>
                             <ul id="actions">
                                 <li><a title="你是否会在此处出没？" href="/#/markmap/{{ tag.key() }}"><img class="map" src="/media/images/pixel.png" /></a></li>
                                 <li><a title="给这里加一道本地菜" href="/new/course/{{ tag.key() }}"><img class="course" src="/media/images/pixel.png" /></a></li>

                             </ul>
                         </div>
                         <ul id="tags">
                             {% for tag in tags %}
                                 <li>
                                    <a href="/tag/{{ tag.key() }}">{{ tag.name }}</a>
                                 </li>
                             {% endfor %}
                         </ul>
                         <ul id="courses">
                             {% for course in courses %}
                                 <li>

                                 </li>
                             {% endfor %}
                         </ul>
                         <ul id="messages">
                             {% for message in messages %}
                                 <li>

                                 </li>
                             {% endfor %}
                         </ul>
                     {% endblock %}

              {% block foot %}

              {% endblock %}
