{% extends "tasteofhome/base.html" %}
{% from 'tasteofhome/macros.html' import render_course_list_item with context %}
        {% block javascript %}
            <script type="text/javascript" src="/media/js/libs/plugins/sammy.template-latest.min.js"></script>
            <script type="text/javascript" src="/media/js/libs/plugins/sammy.json-latest.min.js"></script>
            <script type="text/javascript" src="/media/js/tag.js?v=2.0.17.29"></script>
            <script type="text/html" id="tag_tmpl" data-engine="template">
                <li class="Depth1">
                    <strong>
                       <a href="/tag/<%= tag.key %>"><%= tag.name %></a>
                    </strong>
                    <span class="Count">0</span>
                </li>
            </script>
        {% endblock %}

                     {% block content %}
                         <div id="tag" class="Headings">
                             <h3 class="parent"><a href="/tag/{{ tag.parent_key() }}">{{ tag.parent().name }}</a></h3>
                             <h1 class="me"><a href="/tag/{{ tag.key() }}">{{ tag.name }}</a></h1>
                             <ul id="actions">
                                 <li>
                                     {% if not request.user.get_tags() or request.user.get_tags().count(tag)==0 %}
                                     <div id="marker">
                                         <form action="#/markmap" method="post">
                                             <input type="hidden" name="tag_key" value="{{ tag.key() }}" />
                                             <input type="image" src="/media/images/mapmarker.png" alt="你当下是否在此居住？" title="你当下是否在此居住？" />
                                         </form>
                                     </div>
                                     {% endif %}
                                 </li>
                                 <li><a title="给这里加一道本地菜" href="/new/course/{{ tag.key() }}"><img alt="给这里加一道本地菜" class="course" src="/media/images/pixel.png" /></a></li>

                             </ul>
                         </div>
                         <ul id="tags">
                             {% for tag in tags %}
                                 <li>
                                    <a href="/tag/{{ tag.key() }}">{{ tag.name }}</a>
                                 </li>
                             {% endfor %}
                         </ul>
                         <ul id="courses">
                             {% for course in courses %}
                                 <li>

                                 </li>
                             {% endfor %}
                         </ul>
                         <ul id="messages">
                             {% for message in messages %}
                                 <li>

                                 </li>
                             {% endfor %}
                         </ul>
                     {% endblock %}

              {% block foot %}

              {% endblock %}
