{% macro render_loginbox() -%}
<h1>登陆</h1>
<div class="Box">
   {% call login_box_form(action=url_for('auth/login_box', next=request.url)) %}
    <div>
        <ul>
          <li>
             <label for="Form_Email">Email</label>
            {{ login_box_form.email()|safe }}
          </li>
          <li>
             <label for="Form_Password">密码</label>
             {{ login_box_form.password()|safe }}
             <a href="/index.php?p=/entry/passwordrequest" class="ForgotPassword">忘记了?</a>
          </li>
          <li class="Buttons">
             <input type="submit" id="Form_SignIn" name="User/Sign_In" value="登陆" class="Button">
             <label for="SignInRememberMe" class="CheckBoxLabel">
                 <input type="checkbox" id="SignInRememberMe" name="User/RememberMe" value="1">
                 <input type="hidden" name="Checkboxes[]" value="RememberMe"> 记住我的登陆状态</label>
          </li>
          <li class="CreateAccount">
             没有账号么? <a href="/index.php?p=/entry/register">创建一个.</a>
          </li>
        </ul>
    </div>
{% endcall %}
    <form id="Form_User_Password" method="post" action="/index.php?p=/entry/passwordrequest" style="display: none;">
        <div>
            <input type="hidden" id="Form_TransientKey1" name="User/TransientKey" value="CWKNLUPCPRY0">
            <input type="hidden" id="Form_hpt1" name="hpt" value="" style="display: none;">
            <input type="hidden" id="Form_ClientHour1" name="User/ClientHour" value="21">
            <input type="hidden" id="Form_Target1" name="User/Target" value="/">
            <ul>
              <li>
                 <label for="Form_Email">输入你的 Email 地址</label>
                 <input type="text" id="Form_Email1" name="User/Email" value="" class="InputBox">
              </li>
              <li class="Buttons">
                 <input type="submit" id="Form_Requestanewpassword" name="User/Request_a_new_password" value="请求新密码" class="Button">
                <div>
                    <a href="/index.php?p=/entry/signin" class="ForgotPassword">我现在想起了!</a>
                </div>
              </li>
           </ul>
        </div>
    </form>
</div>
{%- endmacro %}
